<div style="background:white;padding-top:10px;padding-bottom:600px;margin-bottom:20px; border-radius:10px;">
  <div class="row">

    <div class="span3" style="">
      <div id="toc"></div>
    </div>
    <div class="span9">
      <div class="hero-unit" style="margin-right:10px;">
        <div class="text-center">
          <%= image_tag(tr8n_application.url_for('/assets/tr8n/tr8n_logo.png')) %>
        </div>
        <h2 class="text-center"><%= tr("Tr8n Documentation & Samples") %></h2>
      </div>

      <h1><%= tr("Introduction") %></h1>
      <p>
        <%= tr("This document will provide you with some examples of how to use TML (Translation Markup Language) inside your Rails application.") %>
        <%= tr("A similar document is included with every Tr8n Client SDK to ensure that all samples work the same.") %>
      </p>

      <h1><%= tr("Translation Markup Language") %></h1>

      <h2><%= tr("Basics") %></h2>

      <%= tr("Tr8n extends Controller helpers and provides a translation function, called \"tr\".") %>

      <%= tr("The function can be called in any one of the following ways:") %>

      <pre><code class="language-ruby">tr(label, description, tokens = {}, options = {})</code></pre>

      <%= tr("If you don't need description, then you can use:") %>

      <pre><code class="language-ruby">tr(label, tokens = {}, options = {})</code></pre>

      <%= tr("If you have a hash of parameters, you can call the function with it:") %>

      <pre><code class="language-ruby">tr(params = {:label => LABEL, :tokens => TOKENS, :options => OPTIONS})</code></pre>

      <%= tr("Alternatively, you can use string extensions:") %>

      <pre><code class="language-ruby">"some text".translate(description, tokens = {}, options = {}, language = Tr8n.config.current_language)

"some text".translate(tokens = {}, options = {}, language = Tr8n.config.current_language)
      </code></pre>

      <%= tr("Similarly, you can also go directly to the language:") %>

      <pre><code class="language-ruby">Tr8n.config.current_language.translate(label, description, tokens = {}, options = {})

Tr8n.config.current_language.translate(label, tokens = {}, options = {})
      </code></pre>


      <%= tr("Tr8n provides a number of helper methods that are available in views and controllers:") %>

      <pre><code class="language-ruby">tr8n_current_language.translate(label, description, tokens = {}, options = {})
      </code></pre>

      <%= tr("You can even do things like this:") %>
      <pre><code class="language-ruby">tr8n_application.language('ru').translate(label, description, tokens = {}, options = {})
      </code></pre>


      <h4><%= tr("Setup") %></h4>

      <%= tr("Before we begin, we need to setup a couple of users we will be using in all of the examples:") %>

      <pre><code class="language-ruby">male = User.new(:name => "Michael", :gender => "male")

female = User.new(:name => "Anna", :gender => "female")
      </code></pre>

      <%
         male = User.new(:name => "Michael", :gender => "male")
         female = User.new(:name => "Anna", :gender => "female")
      %>

      <%= tr("Alternatively, we could use Hashes to represent objects:") %>

      <pre><code class="language-ruby">male = {:name => "Michael", :gender => "male"}

female = {:name => "Anna", :gender => "female"}
      </code></pre>

      <h2><%= tr("Data Tokens") %></h2>
      <pre><code class="language-ruby">tr("Hello {user}", :user => "Michael")</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => "Michael") %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello {user}", :user => male)</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => male) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello {user}", :user => [male, "Michael B."])</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => [male, "Michael B."]) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello {user}", :user => [male, :name])</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => [male, :name]) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello {user}", :user => {:object => male, :attribute => :name})</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => {:object => male, :attribute => :name}) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello {user}", :user => {:object => {:name => "Alex"}, :attribute => :name})</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user}", :user => {:object => {:name => "Alex"}, :attribute => :name}) %>
        </div>
      </div>


      <h2><%= tr("Method Tokens") %></h2>
      <pre><code class="language-ruby">tr("Hello {user.name}, you are a {user.gender}", :user => male)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello {user.name}, you are a {user.gender}", :user => male) %>
        </div>
      </div>

      <h2><%= tr("Piped Tokens") %></h2>
      <pre><code class="language-ruby">tr("You have {count|| message}", :count => 5)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("You have {count|| message}", :count => 5) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("You have {count|| message, messages}", :count => 5)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("You have {count|| message, messages}", :count => 5) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("You have {count|| one: message, other: messages}", :count => 5)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("You have {count|| one: message, other: messages}", :count => 5) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{user|| male: родился, female: родилась, other: родился/лась } в Ленинграде.", {:user => male}, {:locale => 'ru'})</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{user|| male: родился, female: родилась, other: родился/лась } в Ленинграде.", {:user => male}, {:locale => 'ru'}) %>
        </div>
      </div>


      <h2><%= tr("Implied Tokens") %></h2>
      <%= tr("Implied token is a piped token that uses a single pipe. It indicates that the sentence translation may depend on the token value. At the same time, the token itself is not displayed in the phrase. Below are some examples:") %>

      <pre><code class="language-ruby">tr("{user| He, She} likes this movie. ", :user => male)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{user| He, She } likes this movie.", :user => male) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{user| male: He, female: She} likes this movie.", :user => male)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{user| male: He, female: She} likes this movie.", :user => male) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{user| Born on}: ", :user => male)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{user| Born on}: ", :user => male) %>
        </div>
      </div>

      <h2><%=tr("Decoration Tokens") %></h2>
      <%=tr("Decoration tokens are used to inject HTML styling into translations.") %>

      <pre><code class="language-ruby">tr("Hello [bold: World]", :bold => lambda{|value| "&lt;strong&gt;#{value}&lt;/strong&gt;"})</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello [bold: World]", :bold => lambda{|value| "<strong>#{value}</strong>"}) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello [bold: World]", :bold => "&lt;strong&gt;{$0}&lt;/strong&gt;")</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello [bold: World]", :bold => "<strong>{$0}</strong>") %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("Hello [bold: World]")</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("Hello [bold: World]") %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("[link] click here to view this section of the document [/link]", :link => {:href => "/docs#DecorationTokens"})</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("[link] click here to view this section of the document [/link]", :link => {:href => "/docs#DecorationTokens"}) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("[link] [bold: click here] to view [underline: this section] of the document [/link]",
          :link => {:href => "/docs#DecorationTokens"},
          :underline => lambda{|value| "&lt;span style='text-decoration: underline'&gt;#{value}&lt;/span&gt;"}
)</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("[link] [bold: click here] to view [underline: this section] of the document [/link]",
                :link => {:href => "/docs#DecorationTokens"},
                :underline => lambda{|value| "<span style='text-decoration: underline'>#{value}</span>"}
             )
          %>
        </div>
      </div>

      <h2><%=tr("Nested Tokens") %></h2>
      <pre><code class="language-ruby">tr("You have [link: {count||message}]", :count => 10, :link => lambda{|value| link_to(value, "")})</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("You have [link: {count||message}]", :count => 10, :link => lambda{|value| link_to(value, "")}) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("You have [link: [bold: {count}] {count|message}]", :count => 10, :link => lambda{|value| link_to(value.html_safe, "")})</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("You have [link: [bold: {count}] {count|message}]", :count => 10, :link => lambda{|value| link_to(value.html_safe, "")}) %>
        </div>
      </div>


      <h2><%=tr("Array Tokens") %></h2>

      <%=tr("Options:") %>

      <pre><code class="language-ruby">
{
  :expandable => true,
  :to_sentence => true,
  :limit => 4,
  :separator => ',',
  :andor => 'and',
  :translate_items => false,
  :minimizable => true
}
      </code></pre>

        <pre><code class="language-ruby">tr("{users} joined the site.", :users => [[male, female]])</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{users} joined the site.", :users => [[male, female], [:name], {:andor => "or"}]) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{users} joined the site.", :users => [[male, female], [:name], {:andor => "or"}])</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{users} joined the site.", :users => [[male, female], [:name], {:andor => "or"}]) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{users} joined the site.", :users => [[male, female], [:name], {:to_sentence => false}])</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{users} joined the site.", :users => [[male, female], [:name], {:to_sentence => false}]) %>
        </div>
      </div>

      <pre><code class="language-ruby">tr("{users} joined the site.", :users => [[male, male, female, male, female, female, male, female], [:name], {:to_sentence => false}])</code></pre>

      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{users} joined the site.", :users => [[male, male, female, male, female, female, male, female], [:name], {}]) %>
        </div>
      </div>


      <h1><%=tr("Context Rules") %></h1>

      <h2><%=tr("Numbers") %></h2>
      <pre><code class="language-ruby">1.upto(10) do |i|
        tr("You have {count||message}", :count => i)
        end</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <% 1.upto(10) do |i| %>
            <%=tr("You have {count||message}", :count => i) %><br>
          <% end %>
        </div>
      </div>

      <h2><%=tr("Genders") %></h2>
      <pre><code class="language-ruby">[male, female].each do |user|
        tr("{user} uploaded {user|his,her} photo", :user => user)
        end</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <% [male, female].each do |user| %>
            <%=tr("{user} uploaded {user|his,her} photo", :user => user) %><br>
          <% end %>
        </div>
      </div>

      <h2><%=tr("Dates") %></h2>
      <pre><code class="language-ruby">[Date.today, Date.today - 1.day, Date.today+1.day].each do |date|
tr("{user} {date| past: celebrated, present: celebrates, future: will celebrate} {user| his, her} birthday on {date}", :user => male, :date => date)
end</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <% [Date.today, Date.today - 1.day, Date.today+1.day].each do |date| %>
            <%=tr("{user} {date| past: celebrated, present: celebrates, future: will celebrate} {user| his, her} birthday on {date}", :user => male, :date => date) %><br>
          <% end %>
        </div>
      </div>

      <h2><%=tr("Lists") %></h2>
      <pre><code class="language-ruby">[[male], [male, female]].each do |users|
  tr("{users||likes, like} this photo", :users => users)
end</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <% [[male], [male, female]].each do |users| %>
            <%=tr("{users||likes, like} this photo", :users => [users, [:name]]) %><br>
          <% end %>
        </div>
      </div>

      <h1><%=tr("Language Cases") %></h1>
      <h2><%=tr("Possessives") %></h2>
        <pre><code class="language-ruby">tr("This is {user::pos} reply", :user => male)</code></pre>
        <div class="example">
          <div class="title">results in</div>
          <div class="content">
            <%=tr("This is {user::pos} reply", :user => male) %>
          </div>
        </div>

      <h2><%=tr("Counters") %></h2>
        <pre><code class="language-ruby">tr("You have already sent this message {count::times}", :count => 1)
tr("You have already sent this message {count::times}", :count => 2)
tr("You have already sent this message {count::times}", :count => 3)
</code></pre>
        <div class="example">
          <div class="title">results in</div>
          <div class="content">
            <%=tr("You have already sent this message {count::times}", :count => 1) %><br>
            <%=tr("You have already sent this message {count::times}", :count => 2) %><br>
            <%=tr("You have already sent this message {count::times}", :count => 3) %><br>
          </div>
        </div>

      <h2><%=tr("Ordinals") %></h2>
        <pre><code class="language-ruby">1.upto(5) do |index|
  tr("This is your {count::ord} warning", :count => index)
end
</code></pre>
        <div class="example">
          <div class="title">results in</div>
          <div class="content">
            <% 1.upto(5) do |index| %>
              <%=tr("This is your {count::ord} warning", :count => index) %><br>
            <% end %>
          </div>
        </div>

        <pre><code class="language-ruby">1.upto(10) do |index|
  tr("This is your {count::ordinal} warning", :count => index)
end</code></pre>
        <div class="example">
          <div class="title">results in</div>
          <div class="content">
            <% 1.upto(10) do |index| %>
              <%=tr("This is your {count::ordinal} warning", :count => index) %><br>
            <% end %>
          </div>
        </div>

        <pre><code class="language-ruby">1.upto(10) do |index|
  tr("This is your {count::ordinal::ord} warning", :count => index)
end</code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <% 1.upto(10) do |index| %>
            <%=tr("This is your {count::ordinal::ord} warning", :count => index) %><br>
          <% end %>
        </div>
      </div>


      <h2><%=tr("Translation Examples") %></h2>

      <h4>Russian</h4>

      In order to see language cases in action, lets change the names to use their foreign representation.
      <pre><code class="language-ruby">
  anna = User.new(:name => "Анна", :gender => "female")
  michael = User.new(:name => "Михаил", :gender => "male")
  alex = User.new(:name => "Саша", :gender => "unknown")
      </code></pre>

      <%
         anna = User.new(:name => "Анна", :gender => "female")
         michael = User.new(:name => "Михаил", :gender => "male")
         alex = User.new(:name => "Саша", :gender => "unknown")
      %>

      <h4>Именительный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor::nom} тестирует это приложение", {:actor => anna}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor::nom} тестирует это приложение", {:actor => anna}, {:locale => 'ru'}) %><br>
        </div>
      </div>

      <h4>Родительный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor|| пригласил, пригласила} {target::gen} на вечеринку", {:actor => anna, :target => michael}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor|| пригласил, пригласила} {target::gen} на вечеринку", {:actor => anna, :target => michael}, {:locale => 'ru'}) %><br>
        </div>
      </div>

      <h4>Дательный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor|| подарил, подарила} подарок {target::dat}", {:actor => anna, :target => michael}, {:locale => 'ru'})

tr("{actor|| подарил, подарила} подарок {target::dat}", {:actor => michael, :target => anna}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor|| подарил, подарила} подарок {target::dat}", {:actor => anna, :target => michael}, {:locale => 'ru'}) %><br>
          <%=tr("{actor|| подарил, подарила} подарок {target::dat}", {:actor => michael, :target => anna}, {:locale => 'ru'}) %><br>
        </div>
      </div>

      <h4>Винительный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor|| увидел, увидела} {target::acc} на вечеринке", {:actor => anna, :target => michael}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor|| увидел, увидела} {target::acc} на вечеринке", {:actor => anna, :target => michael}, {:locale => 'ru'}) %><br>
        </div>
      </div>

      <h4>Творительный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor} гордится {target::ins}", {:actor => anna, :target => michael}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor} гордится {target::ins}", {:actor => anna, :target => michael}, {:locale => 'ru'}) %><br>
        </div>
      </div>

      <h4>Предложный Падеж</h4>
      <pre><code class="language-ruby">tr("{actor} думает {target::pre}", {:actor => anna, :target => michael}, {:locale => 'ru'})

tr("{actor} думает {target::pre}", {:actor => michael, :target => anna}, {:locale => 'ru'})
      </code></pre>
      <div class="example">
        <div class="title">results in</div>
        <div class="content">
          <%=tr("{actor} думает {target::pre}", {:actor => anna, :target => michael}, {:locale => 'ru'}) %><br>
          <%=tr("{actor} думает {target::pre}", {:actor => michael, :target => anna}, {:locale => 'ru'}) %><br>
        </div>
      </div>


    </div>
  </div>
</div>

<%= stylesheet_link_tag('jquery.tocify.css') %>
<%= javascript_include_tag('jquery.tocify.min.js') %>

<%= stylesheet_link_tag('prism.css') %>
<%= stylesheet_link_tag('prism_rails.css') %>
<%= javascript_include_tag('prism.js') %>
<%= javascript_include_tag('prism_rails.js') %>

<style>
  .example {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .example .title {
    color: white;
    width: 80px;
    text-align:center;
    padding:3px;
    background: #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
  }

  .example .content {
    padding:10px;
  }

  h4 {
    margin-top: 35px;
  }

  #toc {
    width:240px;
  }
</style>

<script>
  $(function() {
    $("#toc").tocify({
      "selectors": "h1,h2,h3"
    });
  });
</script>
