<h2><%= tr("Installation Instructions") %></h2>

<p>
  <%= tr("Clone the git repository to your projects folder:") %>
</p>


<h3><%= tr("Connecting to Tr8n service") %></h3>
<p>
  <%=tr("To connect to a hosted tr8n service, visit [link: tr8nhub.com], register as a new user and create a new application.", :link => {:href => "http://tr8nhub.com"}) %>
  <%=tr("Then add the following line to your PHP application:") %>
</p>

<pre><code class="language-php"> </code></pre>

<h3><%= tr("Running your own Tr8n service") %></h3>

<p>
  <%=tr("Alternatively, you can host a tr8n service instance yourself. Tr8n service is written using Ruby on Rails. To run the service yourself, clone the git repository:") %>
</p>

<pre><code class="language-php">$ git clone git@github.com:tr8n/tr8n.git</code></pre>

<p>
  <%= tr("Run the following commands: (temporary, until the service node is ready)") %>
</p>

<pre><code class="language-php">
  $ cd tr8n/test/dummy
  $ bundle
  $ bundle exec rake db:migrate
  $ bundle exec rake tr8n:init
  $ bundle exec rails s

</code></pre>

<p>
  <%= tr("You should see the following output:") %>
</p>

<pre><code class="language-php">
  => Booting WEBrick
  => Rails 3.2.3 application starting in development on http://0.0.0.0:3000
  => Call with -d to detach
  => Ctrl-C to shutdown server
  [2013-08-14 20:21:39] INFO  WEBrick 1.3.1
  [2013-08-14 20:21:39] INFO  ruby 1.9.3 (2013-02-22) [x86_64-darwin12.2.1]
  [2013-08-14 20:21:39] INFO  WEBrick::HTTPServer#start: pid=29722 port=3000

</code></pre>

<p>
  <%= tr("This means that the service is running. Visit http://localhost:3000 and register as a new user. Go to the admin tools and retrieve your application secret.") %>
</p>

<p>
  <%= tr("In your config.yml file update the application credentials:") %>
</p>
<pre><code class="language-php"> </code></pre>
