<h1 style="text-align:center"><%= tr("TML Interactive Console") %></h1>

<form action="/docs/tml_content" method="get" id="tml_form" target="tml_translations">
<input type="hidden" id="tml_label" name="tml_label" value="">
<input type="hidden" id="tml_context" name="tml_context" value="">
<input type="hidden" id="tml_tokens" name="tml_tokens" value="">
<input type="hidden" id="tml_options" name="tml_options" value="">

<%
  examples = [
    {:label => "Hello World"},
    {:label => "Invite", :description => "An invitation"},
    {:label => "Invite", :description => "Action to invite someone"},
    {:label => "Number of messages: {count}", :tokens => {"count" => 5}},
    {:label => "You have {count|| one: message, other: messages}", :tokens => {"count" => 5}},
    {:label => "You have {count|| message, messages}", :tokens => {"count" => 5}},
    {:label => "You have {count|| message}", :tokens => {"count" => 5}},
    {:label => "You have {count| message}", :tokens => {"count" => 5}},
    {:label => "Hello [bold: World]"},
    {:label => "Hello [bold: {user}]", :tokens => {"user" => "Michael"}},
    {:label => "Hello [bold: {user}], you have {count||message}.", :tokens => {"user" => "Michael", "count" => 5}},
    {:label => "Hello [bold: {user}], [italic: you have [bold: {count||message}]].", :tokens => {"user" => "Michael", "count" => 1}},
    {:label => "Hello [bold: {user}], [italic]you have [bold: {count||message}][/italic].", :tokens => {"user" => "Michael", "count" => 3}},
    {:label => "{user|He, She} likes this post.", :tokens => {"user" => {"object" => {"gender" => "male", "name" => "Michael"}}}},
    {:label => "{user|Dear} {user}", :tokens => {"user" => {"object" => {"gender" => "male", "name" => "Michael"}, "attribute" => "name"}}},
    {:label => "{users||likes, like} this post.", :tokens => {"users" => [[{"gender" => "male", "name" => "Michael"}, {"gender" => "female", "name" => "Anna"}], {"attribute" => "name"}]}},
    {:label => "{users||likes, like} this post.", :tokens => {"users" => [[{"gender" => "female", "name" => "Anna"}], {"attribute" => "name"}]}},
    {:label => "{users|He likes, She likes, They like} this post.", :tokens => {"users"=> [[{"gender"=> "male", "name"=>"Michael"}, {"gender"=> "female", "name"=>"Anna"}], {"attribute"=> "name"}]}},
    {:label => "{users|He likes, She likes, They like} this post.", :tokens => {"users"=> [[{"gender"=> "female", "name"=>"Anna"}], {"attribute"=> "name"}]}},
    {:label => "{users|He likes, She likes, They like} this post.", :tokens => {"users"=> [[{"gender"=> "male", "name"=>"Michael"}], {"attribute"=> "name"}]}}
  ]
%>

<div style="padding-top:15px;">
  <div style="font-size:12px;float:right;padding-top:15px;color:#888"><%= tr("The text that you would like to translate.")%></div>

  <h4 style="display:inline-block;"><%= tr("Label (required, TML)") %></h4>
  <div class="dropdown" style="display:inline-block; padding-left:10px;">
    <a id="user_menu_trigger" href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= tr("try some examples") %><b class="caret"></b>
    </a>
    <ul class="dropdown-menu pas" style="max-height:500px;overflow:auto;">
      <% examples.each_with_index do |sample, index| %>
        <li style="font-size:13px;">
          <%=link_to("javascript: loadExample(#{index})") do %>
            <%= index+1 %>)
            <strong><%= sample[:label] %></strong>
            <% if sample[:description] %>
              <div style="font-size:10px;padding-left:15px;">Context: <%=sample[:description]%></div>
            <% end %>
            <% if sample[:tokens] %>
              <div style="font-size:10px;padding-left:15px;">Tokens: <%=sample[:tokens]%></div>
            <% end %>
            <% if sample[:options] %>
              <div style="font-size:10px;padding-left:15px;">Options: <%=sample[:options]%></div>
            <% end %>
          <% end %>
        </li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </div>
  <div class="ace_editor" id="tml_label_editor" style="height:80px;"></div>
</div>

<div style="padding-top:15px;">
  <div style="font-size:12px;float:right;padding-top:15px;color:#888"><%= tr("If label is ambiguous, context provides a hint to translators as well as a unique key for the label.")%></div>
  <h4><%= tr("Context (optional, plain text)") %></h4>
  <div class="ace_editor" id="tml_context_editor" style="height:50px;"></div>
</div>

<table style="width:100%">
  <tr>
    <td style="width:50%">
      <div style="font-size:12px;float:right;padding-top:15px;color:#888"><%= tr("Dynamic data to be substituted")%></div>
      <h4><%= tr("Tokens (optional, JSON)") %></h4>
      <div class="ace_editor" id="tml_tokens_editor" style="height:100px;">{}</div>
    </td>
    <td>&nbsp;</td>
    <td style="width:50%">
      <div style="font-size:12px;float:right;padding-top:15px;color:#888"><%= tr("Translation options")%></div>
      <h4><%= tr("Options (optional, JSON)") %></h4>
      <div class="ace_editor" id="tml_options_editor" style="height:100px;">{}</div>
    </td>
  </tr>
</table>

<div style="padding-top:10px;">
  <div style="float:right">
  </div>
  <div>
    <button type="button" class="btn btn-primary" onClick="submitTml()">
      <%= tr("Translate") %>
    </button>
    <button type="button" class="btn" onClick="newSample()">
      <%= tr("Clear") %>
    </button>
  </div>
</div>
</form>

<hr>
<div style="text-align:center;font-size:50px;color:#ccc;padding-bottom:30px;">
  &#9660;
</div>

<iframe id="tml_translations" name="tml_translations" src="/docs/tml_content" style="width:100%;height:600px;background:white;border:1px solid #eee;"></iframe>

<%= javascript_include_tag("ace/ace.js") %>
<%= javascript_include_tag("ace/theme-chrome.js") %>
<%= javascript_include_tag("ace/mode-html.js") %>
<%= javascript_include_tag("ace/mode-json.js") %>

<style type="text/css" media="screen">
  .ace_editor {
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height:50px;
    border:1px solid #eee;
  }
</style>

<script>
  var label_editor = ace.edit("tml_label_editor");
  label_editor.setTheme("ace/theme/chrome");
  label_editor.getSession().setMode("ace/mode/text");

  var context_editor = ace.edit("tml_context_editor");
  context_editor.setTheme("ace/theme/chrome");
  context_editor.getSession().setMode("ace/mode/text");

  var tokens_editor = ace.edit("tml_tokens_editor");
  tokens_editor.setTheme("ace/theme/chrome");
  tokens_editor.getSession().setMode("ace/mode/json");

  var options_editor = ace.edit("tml_options_editor");
  options_editor.setTheme("ace/theme/chrome");
  options_editor.getSession().setMode("ace/mode/json");

  function submitTml() {
    $("#tml_label").val(label_editor.getValue());
    $("#tml_context").val(context_editor.getValue());
    $("#tml_tokens").val(tokens_editor.getValue());
    $("#tml_options").val(options_editor.getValue());
    $("#tml_form").submit();
  }

  function newSample() {
    location.reload();
  }

  var examples = <%=examples.to_json.html_safe%>;
  function loadExample(index) {
//    alert("Loading: " + index);
    label_editor.setValue(examples[index].label);

    if (examples[index].description)
      context_editor.setValue(examples[index].description);
    else
      context_editor.setValue("");

    if (examples[index].tokens)
      tokens_editor.setValue(JSON.stringify(examples[index].tokens));
    else
      tokens_editor.setValue("{}");

    if (examples[index].options)
      options_editor.setValue(JSON.stringify(examples[index].options));
    else
      options_editor.setValue("{}");

    submitTml();
  }
</script>